doctype html
html
  head
    title= "Depdoc - Auto-generate documentation using your package.json's dependencies property"
    link(rel='stylesheet', href='/dist/css/kickoff.css')
  body
    block content
    script(src='/dist/js/script.js')
