.masthead {
	text-align: center;

	@include respond-min($bp-single-col) {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		height: 160px;
	}
}

.pageName {
	margin-top: 20px;
	margin-bottom: 20px;
}
